<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <h1 class="mt-5 mb-3">Your Code</h1>
            <form class="">
                <div class="form-group mb-3">
                    <label for="exampleInputtitle1">Title </label>
                    <input type="title" class="form-control" id="exampleInputtitle1" disabled aria-describedby="titleHelp"
                        [value]="codeSnippet.title">
                </div>

                <div class="form-group mb-3">
                    <label for="" class="form-label">Code</label>
                    <textarea class="form-control" name="code" id="code" disabled rows="3" [value]="codeSnippet.code"></textarea>
                </div>




            </form>
        </div>
    </div>

</div>