<div class="conainter mx-auto">
    <div
        class="table-responsive mx-auto mt-5"
    style="width: 80%;">
        <table
            class="table "
        >
            <thead>
                <tr>
                    <th scope="col">Sno</th>
                    <th scope="col">title</th>
                    <th scope="col">Code</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @if(items.length >0){

                    @for (item of items; track item.id) {
    
                        <tr class="">
                            <td scope="row">{{$index+1}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.code}}</td>
                            <td><a [routerLink]="['snippet', item.id]" class="btn btn-sm btn-primary">View</a></td>
                        </tr>
                    }
                }
                @else{
                    <tr>
                        <td colspan="4">No data</td>
                    </tr>
                }

                
            </tbody>
        </table>
    </div>
    
</div>